{
  "plugins": [
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        },
        "modules": false
      }
    ]
  ]
}
